@model IEnumerable<PI4SAE.Models.User>

@{
    ViewBag.Title = "Index4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn</h2>

<p>
    @Html.ActionLink("LogIn As Parent", "authenticateParent", "Parent")
</p>
<p>
    @Html.ActionLink("LogIn As kinderGartenAdmin", "authenticateKinderGartenAdmin", "kinderGartenAdmin")
</p>
<p>
    @Html.ActionLink("Back", "Index", "Home")
</p>