@model IEnumerable<PI4SAE.Models.User>
@{
    ViewBag.Title = "IndexKinderGartenAdmin";
    Layout = "~/Views/Shared/EspaceParent.cshtml";
}
<div>
    <ul class="nav navbar-nav navbar-right">
        <h1>
            Welcome to our application !
        </h1>
        <h2>
            Register !
        </h2>
    </ul>
</div>



<p>
    @Html.ActionLink("Create New Profile Parent", "CreateParent", "Parent")
</p>
<p>
    @Html.ActionLink("Create New Profile kinderGartenAdmin", "Create", "kinderGartenAdmin")
</p>
<p>
    @Html.ActionLink("Back", "Index", "Home")
</p>