@model IEnumerable<PI4SAE.Models.KinderGartenAdmin>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/EspaceAdmin.cshtml";
}

<h2>KinderGarten Admins </h2>

<p>
    @Html.ActionLink("Back", "Index", "Home")
</p>
